<% if @trails %>
  <ul>
    <% @trails.each do |trail| %>
      <li>
        <strong><%= trail.name %></strong><small><i><%= " (#{trail.user.name})" %></i></small>   
      </li>
      <% if trail.overlinks %>
        <ul>
          <% trail.overlinks.each do |overlink| %>
            <li><%= link_to overlink.title, overlink.url, target: '_blank' %><small><i><%= " - #{overlink.description}" %></small></i></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>Nenhuma trilha publica</p>
<% end %>
